<section>
  <div class="container text-center">
    <h2 class="display-4 mb-3">Menus</h2>
    <p class="menu-info">Here are your current menus. Click on one to enter the menu's setup page. Hit the activate button to enable/disable the menu. Or create a new menu with the 'New Menu' button</p>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
          <% @menus.each do |menu| %>
          <!-- <li class="menu-title"> -->
            <%= link_to menu.title, menu_path(menu.id), class: 'menu-title d-block'  %>
          <!-- </li> -->
          <% end %>
          <hr>
        <%= link_to "New Menu", new_menu_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</section>
