<h1>Welcome to Restaurant home page</h1>
<ul>
  <li><a href="#">Home</a></li>
  <li><a href="/menus">Menus</a></li>
  <li><a href="/pages/bnb">B'n'B</a></li>
  <li><a href="/pages/contact">Contact</a></li>
</ul>
