// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
  text-decoration: none;
}

.fa-times {
  color: red;
}

ul {
  list-style: none;
}

.edit-container {
  background-color: light-gray;
  border: 1px solid gray;
  border-radius: 15px;
}

div.input input {
  width: 400px;
  margin-bottom: 8px;
}

div.input textarea {
  height: 80px;
  width: 400px;
  margin-bottom: 8px;
}

div.input label {
  color: black;
  display: block;
  line-height: 1.45;
  font-family: "Playfair Display", serif;
  font-weight: bold !important;
  font-size: 1.25rem;
}

.back-btn {
  position: fixed;
  top: 70px;
  left: 11px;
}
