// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
  text-decoration: none;
}

.fa-times {
  color: red;
}

ul {
  list-style: none;
}

.edit-container {
  background-color: light-gray;
  border: 1px solid gray;
  border-radius: 15px;
}

.menu-input {
  width: 400px;
}

textarea.menu-input {
  height: 80px;
}
