// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.arrow-btn {
  width: 25px;
  height: 25px;
  font-decoration: none;
}

.admin {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #8e8e8e;
  font-size: 0.8rem;
  a {
    color: #8e8e8e;
    }
  a:hover {
    color: white;
  }
}

.menu-title {
  font-family: "Raleway", sans-serif;
  font-size: 1.7rem;
  text-transform: uppercase;
  border: 1.5px solid black;
  padding: 8px 0px;
  justify-content: space-around;
  display: flex;
}

.menu-info {
  color: #808080;
  font-family: "Raleway", sans-serif;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1)
}

.section-title {
  font-weight: bold !important;
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 16px;
}

.dish-title {
  line-height: 1.45;
  font-family: "Playfair Display", serif;
  font-weight: bold !important;
  font-size: 1.25rem;
  display: inline;
}

.dish-price {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  float: right;
  padding-right: 20px;
  text-align: right !important;
  color: #FDA403 !important;
}
